%placeholder {
  &.placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}

%center-block {
  display: block;
  margin: {
    left:  auto;
    right:  auto;
  }
}

%clearfix {

  &:before,
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}